<h1>Results</h1>

<h3>Results on requested user from the database:</h3>

<% data.forEach(function(friends){%>
        <li>
            <strong>ID:</strong> <%= friends["id"]%>
            --- <strong>Surname:</strong> <%=friends["surname"]%>
            --- <strong>First name:</strong> <%=friends["firstName"]%>  
            --- <strong>Age:</strong> <%= friends["age"]%> 
            --- <strong>Gender:</strong> <%= friends["gender"]%> 
            --- <strong>Friends:</strong> <%= friends["friends"]%> 
        </li>
<% });%>
<a href="/">Search again</a>

